.form {
    position: relative;
    background-color: #16bae7;
    padding: 1rem;
    width: 20rem;
    margin: 2rem auto;
    border-radius: 6px;
    font-family: "Lucida Handwriting", cursive;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  .form-group{
    display: block;
  }

  .head {
    font-family: "Lucida Handwriting", cursive;
    font-size: xx-large;
    color: white;
    padding: 1px;
  }

.label{
    display: block;
    font-size: medium;
    color: white;
    padding: 5px;
    font-family: "Lucida Handwriting", cursive;
  }
   
  .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
  }
  .btn{
    color: rgb(2, 2, 2);
    font-family: "Lucida Handwriting", cursive;
    background-color: rgb(135,206,235);
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    border: none;
    margin: 10px auto;
  }

  .btn:hover {
    background-color: #97c4d9;
  }
   
  .messages{
    display: block;
    padding: 5px;
    font-family: "Lucida Handwriting", cursive;
    justify-content: center;
  }

  .error{
    display: block;
    font-family: "Lucida Handwriting", cursive;
    font-size: xx-small;
    color: rgb(233, 181, 69);
    width: fit-content;
    height: 1px;
  }
   