@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.bigbutton {
    align-items: center;
    display: block;
    text-align: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    color: #2a2630;
    border: none;
    border-radius: 6px;
    font-size: large;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
  }
  
  .bigbutton:hover {
    background-color: rgb(221, 221, 221);
  }

  .table {
    font-family: Merriweather;
    border-collapse: collapse;
    width: 50%;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
  }


  .table td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
  }

  .table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
  }
  
  .table tr:nth-child(even){background-color: white;}
  .table tr:nth-child(odd){background-color: #EDF7FF;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #263238;
    color: white;
    font-size: 20px;
  }

  


  .header a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
  }
  
  .header {
    margin: 2rem 10%;
    font-family: Merriweather;
    text-align: center;
    display: block;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
  }

  .header h1 {
    margin: 0;
    font-size: 2rem;
  }

  .button {
    display: inline-block;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(135,206,235);
    color: #2a2630;
    border: none;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #97c4d9;
  }