@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda&display=swap');

.header {
    display: flex;
    font-family: "Lucida Handwriting", cursive;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .header a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    font-family: "Cherry Cream Soda", cursive;
    /* font-family: 'Muli', sans-serif; */
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
  }
  
  .button:hover {
    color: #97c4d9;
    font-size: larger;
  }

  .header h1 {
    margin: 0;
    font-size: large;
  }


  .header {
    /* padding: 2rem 10%; */
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffff;
  }

  .logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #ffffff;
  }